//Color theme testing and visual look
.bar-color1 {
    background-color: $color-theme-cyan;
}
.bar-color2 {
    background-color: $color-theme-turq;
}
.bar-color3 {
    background-color: $color-theme-teal;
}
.bar-color4 {
    background-color: $color-theme-light-green;
}
.bar-color5 {
    background-color: $color-theme-green;
}
.bar-color6 {
    background-color: $color-theme-dark-green;
}
.bar-color7 {
    background-color: $color-theme-orange;
}
.bar-color8 {
    background-color: $color-theme-dark-orange;
}