.card-animation {
    @include animation-border(white);
}

.border-orange {
    border-left: 1px solid $color-theme-orange;
    border-right: 1px solid $color-theme-orange;
}

.bg-light-gray {
    background-color: #333;
}

//Unused divider
.white-line {
    background-color: white;
    height: 1px;
    margin: auto;
    width: 98%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main-title {
    font-family: "Gravity-Regular";
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 20px;
    margin-bottom: 0.5rem;
}

//Zoom in for images
.zoom-zoom {
    cursor: zoom-in;
}

//QHD 2560x1440
@media (max-width: $screen-QHD) {
    .card-animation {
        i:before {
            animation-duration: 7s;
            width: 97vw
        }
    }
}

//FHD 1920x1080
@media (max-width: $screen-FHD) {
    .card-animation {
        i:before {
            animation-duration: 7s;
            width: 96vw;
        }
    }
}

//HD 1280x720
@media (max-width: $screen-HD) {
    .card-animation {
        i:before {
            animation-duration: 6s;
            width: 94vw;
        }
    }
}

//qHD 960x540
@media (max-width: $screen-qHD) {
    .card-animation {
        i:before {
            animation-duration: 5s;
            width: 92vw;
        }
    }
    .main-title {
        letter-spacing: 10px;
    }
}

//nHD 640x360
@media (max-width: $screen-nHD) {
    .card-animation {
        i:before {
            animation-duration: 4s;
            width: 83vw;
        }
    }
    .main-title {
        font-size: 2em;
        letter-spacing: 0;
    }
}