.card-animation {
    @include animation-border(white);
}

.border-orange {
    border-left: 1px solid $color-theme-orange;
    border-right: 1px solid $color-theme-orange;
}

.bg-light-gray {
    background-color: #333;
}

.external-link {
    color: $color-theme-turq;
    &:hover {
        color: $color-theme-green;
        cursor: pointer;
    }
}

.main-title {
    font-family: "Gravity-Regular";
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 20px;
    margin-bottom: 0.5rem;
}

//Coding page -- projects section
.image-container {
    display: flex;
    justify-content: center;
    max-height: 500px;
    overflow: hidden;
}

.expand-icon {
    cursor: pointer;
    // display: block;
    height: 30px;
    padding-top: 3px;
    position: absolute;
    width: 30px;
    z-index: 1;
}

//Zoom in for images
.zoom-zoom {
    cursor: zoom-in;
}



// ~~~ Media queries ~~~

//QHD 2560x1440
@media (max-width: $screen-QHD) {
    .card-animation {
        i:before {
            animation-duration: 7s;
            width: 97vw
        }
    }
}

//FHD 1920x1080
@media (max-width: $screen-FHD) {
    .card-animation {
        i:before {
            animation-duration: 7s;
            width: 96vw;
        }
    }
}

//HD 1280x720
@media (max-width: $screen-HD) {
    .card-animation {
        i:before {
            animation-duration: 6s;
            width: 94vw;
        }
    }
}

//qHD 960x540
@media (max-width: $screen-qHD) {
    .card-animation {
        i:before {
            animation-duration: 5s;
            width: 92vw;
        }
    }
    .main-title {
        letter-spacing: 10px;
    }
}

//nHD 640x360
@media (max-width: $screen-nHD) {
    .card-animation {
        i:before {
            animation-duration: 4s;
            width: 83vw;
        }
    }
    .main-title {
        font-size: 2em;
        letter-spacing: 0;
    }
}