.main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section {
    // background-color: red;
    width: 90%;
}

.section_header {
    // background-color: green;
    padding-bottom: 20px;
}

.techs {
    display: flex;
    background-color: #444;
    flex-wrap: wrap;
    justify-content: space-around;
}

.techs_tech {
    // align-items: center;
    // display: flex;
    // flex-direction: column;
    padding: 30px;
    text-align: center;
}

.ttable {
    background-color: #444;
}

.thead {
    display: flex;
    justify-content: space-evenly;
}

.tbody {
    display: flex;
    justify-content: space-evenly;
}