.main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section {
    // background-color: red;
    width: 90%;
}

.section_header {
    // background-color: green;
    padding-bottom: 20px;
}