@import './mixins.scss';

.card-animation {
    @include animation-border(white);
}

.border-orange {
    border-left: 1px solid lighten(orange, 5%);
    border-right: 1px solid lighten(orange, 5%);
}

.bg-light-gray {
    background-color: #333;
}

//Unused divider
.white-line {
    background-color: white;
    height: 1px;
    margin: auto;
    width: 98%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main-title {
    font-family: "Gravity-Regular";
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 20px;
    margin-bottom: 0.5rem;
}

//Zoom in for images
.zoom-zoom {
    cursor: zoom-in;
}

@media (max-width: 460px) {
    // .card-animation {
    //     i:before {}
    // }
    .main-title {
        letter-spacing: 10px;
    }
}

@media (max-width: 380px) {
    .card-animation {
        i:before {
            animation-duration: 4s;
            width: 83vw;
            // width: auto;
        }
    }
    .main-title {
        font-size: 2em;
        letter-spacing: 0;
    }
}