//Dark theme shades from darkest to lightest
// #191919 #282828 #323232 #333 #3e3e3e #424242 #444
.main {
    align-items: center;
    // border: thin solid red;
    display: flex;
    height: 100vh - 20;
    justify-content: center;
}