//Dark theme shades from darkest to lightest
// #191919 #282828 #323232 #333 #3e3e3e #424242 #444
.footer {
    align-items: center;
    background-color: #282828;
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 10px;
}