//All four sides
@mixin animation-lines($borderColor, $shadowColor) {
    border: 2px solid $borderColor;
    border-radius: 0.4rem;
    box-shadow: 0 20px 50px $shadowColor;
    color: white;
    overflow: hidden;
    padding: 0.38em 0.975rem; //top&bot left&right
    transform: translate(-1%, -1%);
    //div sections are the moving animations
    div { //top
        box-sizing: border-box;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    div:nth-child(2) { //right
        margin-left: 5px;
        transform: rotate(90deg);
    }
    div:nth-child(3) { //bottom
        transform: rotate(180deg);
    }
    div:nth-child(4) { //left
        margin-left: -5px;
        transform: rotate(270deg);
    }
    div:before {
        animation: animate 3s linear infinite;
        background: #50dfdb;
        content: '';
        height: 2px;
        position: absolute;
        width:100%;
    }
}

//Top and bottom
@mixin animation-lines-tb($borderColor, $shadowColor) {
    border: 2px solid $borderColor;
    border-radius: 0.4rem;
    box-shadow: 0 20px 50px $shadowColor;
    overflow: hidden;
    padding: 0.43em 0.99rem; //top&bot left&right
    transform: translate(-1%, -1%);
    //div sections are the moving animations
    div { //top
        box-sizing: border-box;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    div:nth-child(2) { //bottom
        transform: rotate(180deg);
    }
    div:before {
        animation: animate 3s linear infinite;
        background: #50dfdb;
        content: '';
        height: 2px;
        position: absolute;
        width:100%;
    }
}

//border animate
@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    } 
    51% {
        transform: scaleX(1);
        transform-origin: right;
    }
    
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}