$background-base: #191919;

//Dark theme shades from darkest to lightest: #191919 #282828 #323232 #333 #3e3e3e #424242 #444
$dark-theme-1: #191919;
$dark-theme-2: #282828;
$dark-theme-3: #323232;
$dark-theme-4: #333;
$dark-theme-5: #3e3e3e;
$dark-theme-6: #424242;
$dark-theme-7: #444;


//Colors
$color-theme-cyan: aqua; //aqua === cyan
$color-theme-turq: turquoise;
$color-theme-teal: teal;
$color-theme-light-green: lawngreen;
$color-theme-green: lighten(green, 10%);
$color-theme-dark-green: rgb(23, 90, 53);
$color-theme-orange: lighten(orange, 5%);
$color-theme-dark-orange: rgb(90, 67, 23);


//Screen width, 16:9 aspect ratio
$screen-nHD: 640px; //nHD 640x360
$screen-768: 768px; //768x432
$screen-FW: 854px; //FW 854x480
$screen-qHD: 960px; //qHD 960x540
$screen-HD: 1280px; //HD 1280x720
$screen-HDp: 1600px; //HD+ 1600x900
$screen-FHD: 1920px; //FHD 1920x1080
$screen-QHD: 2560px; //QHD 2560X1440
$screen-QHDp: 3200px; //QHD+ 3200x1800
$screen-UHD: 3840px; //UHD 3840x2160