#mustache-logo { //sourced from mustache website
    color: #000;
    display: block;
    height: 180px;    
    font-size: 180px;
    font-family: Georgia;
    line-height: 200px;
    margin-bottom: -30px;
    margin-left: -60px;
    margin-right: -20px;
    margin-top: -20px;
    text-align: center;
    transform: rotate(-90deg);
    width: 200px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}