// $color-theme-teal: 
// $color-theme-orange:
// $color-theme-green: 



//Screen width, 16:9 aspect ratio
$screen-nHD: 640px; //nHD 640x360
$screen-768: 768px; //768x432
$screen-FW: 854px; //FW 854x480
$screen-qHD: 960px; //qHD 960x540
$screen-HD: 1280px; //HD 1280x720
$screen-HDp: 1600px; //HD+ 1600x900
$screen-FHD: 1920px; //FHD 1920x1080
$screen-QHD: 2560px; //QHD 2560X1440
$screen-QHDp: 3200px; //QHD+ 3200x1800
$screen-UHD: 3840px; //UHD 3840x2160