// ~~~ Contact page ~~~ //
.contact-background {
    align-items: center;
    background-image: url("../../images/background/switchboard.jpg");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}
.contact-container {
    background-color: rgba($color: black, $alpha: 0.5);
    max-width: 600px;
    margin: 10px;
}