// ~~~ Contact form ~~~ //
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 540px;
    max-width: 600px;
    min-width: 260px;
    padding: 5px;
    button {
        background-color: rgba($color: $dark-theme-4, $alpha: 0.9);
    }
}
.form-inputs {
    background-color: rgba($color: $dark-theme-4, $alpha: 0.9);
    border-color: $color-theme-turq;
    border-radius: 0.3rem;
    color: white;
    padding: 0.5rem 0.75rem;
}